<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <%- include('../layouts/user-profile-navbar')%>
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-12 col-lg-8 mb-4">
                    <div class="card mb-4">



                        <div class="card-header py-3">
                            <h5 class="mb-0">Shipping Address</h5>
                        </div>
                        <div class="card-body">
                            <!-- Text input -->
                            <div class=" text-dark  border-secondary">
                                <div class="p-5">
                                    <form action="payment" method="post">
                                        <div class="shipadrss col-md-12 ">
                                            <% address.forEach((add)=>{%>
                                                <div style="border: 1px rgba(99, 94, 94, 0.233) solid"
                                                    class="p-4 d-flex align-content-center align-items-center d9">
                                                    <input type="radio" name="address" required checked
                                                        value="<%=add._id%>" />
                                                    <p class="ms-3"><br />
                                                    <p class="text-muted mb-0">
                                                        <%= add.address %><br />
                                                            <%= add.phone %><br />
                                                                <%= add.city %><br />
                                                                    <%= add.pincode %>
                                                                        <hr>

                                                                        <input type="text" name="addressId"
                                                                            value="<%=add._id%>" >
                                                    </p>
                                                    </p>
                                                </div>
                                                <%})%>


                                                    <div class="mt-3 d-flex align-items-center d9">
                                                        <a href="/add-address" class="btn btn-light">+ Add New
                                                            Address</a>
                                                    </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-4 mb-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Summary</h5>
                        </div>

                        <div class="card-body">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    <div class="form-outline mt-3">
                                        <label for="coupon"><strong>Enter your coupon code here</strong></label>
                                        <div class="input-group form-outline mt-2 mb-2">
                                            <input type="text" class="form-control" placeholder="Enter here">
                                        </div>
                                    </div>

                                </li>





                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">

                                    Total
                                    <span>RS.<%=total%></span>
                                </li>



                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total Amount </strong>
                                    </div>
                                    <span id="total" </span>
                                        <input type="hidden" name="" id="final">
                                </li>
                            </ul>
                            <div class="col">
                                <div class="mt-0">
                                    <input type="number" name="total" value="<%=total%>">
                                    <input type="text" name="address" value="add">
                                    <button type="submit" value="submit"
                                        class="btn btn-success btn-lg btn-block float-end">
                                        Pay now 
                                    </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/user/js/main.js"></script>
</body>

</html>